:root {
  /* --LightTheme_color1: #3927a5;
  --LightTheme_color2: #f6c07d;
  --LightTheme_color3: #ffffff;
  */
  --LightTheme_color1: #000080;
  --LightTheme_color2: #000080;
  --LightTheme_color3: #ffffff;
}

.kt-aside__brand {
  background-color: var(--LightTheme_color1);
}


.kt-aside-menu {
  background-color: var(--LightTheme_color1);
}

.kt-aside-menu .kt-menu__nav {
  padding: 0 !important;
}

.kt-aside .kt-aside-menu {
  margin: 0 !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item:hover>.kt-menu__link,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link {
  background-color: var(--LightTheme_color3);
  color: var(--LightTheme_color1);
}

.kt-menu__link {
  display: flex !important;
  align-items: center !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:hover>.kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:hover>.kt-menu__link .kt-menu__link-text {
  color: var(--LightTheme_color1) !important;
}

/* .kt-aside .kt-aside-menu .kt-menu__item .kt-menu__link:hover .kt-menu__link-icon
.kt-aside .kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active .kt-menu__link .kt-menu__link-icon {
  color: var(--LightTheme_color1) !important;
} */

.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link .kt-menu__link-text {
  color: var(--LightTheme_color1);
}

.kt-aside-menu .kt-menu__nav>.kt-menu__section .kt-menu__section-text {
  color: var(--LightTheme_color3);
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__heading .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:hover>.kt-menu__heading .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:hover>.kt-menu__link .kt-menu__link-icon {
  color: var(--LightTheme_color1) !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link {
  background-color: var(--LightTheme_color3);
}

/* .kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link .kt-menu__link-icon {
  color: var(--LightTheme_color3);
} */

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon {
  color: var(--LightTheme_color3) !important;
}

.kt-notification-item-padding-x {
  background: var(--LightTheme_color1) !important;
}

.btn-success {
  color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color1);
  border-color: var(--LightTheme_color1);
}

.btn-secondary {
  /* color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color2);
  border-color: var(--LightTheme_color2); */
  background-color: transparent !important;
  border: 1px solid #ebedf2 !important;
  color: #6c7293 !important;
}

.btn-secondary:hover {
  background-color: #e4e4e4 !important;
  color: var(--LightTheme_color2) !important;
}

.btn-primary {
  color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color1);
  border-color: var(--LightTheme_color1);
}

.btn-primary:hover {
  border-color: var(--LightTheme_color2);
}

.btn-brand {
  color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color1);
  border-color: var(--LightTheme_color1);
}

.btn-brand:not(:disabled):not(.disabled):active,
.btn-brand:not(:disabled):not(.disabled).active,
.show>.btn-brand.dropdown-toggle {
  color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color1);
  border-color: var(--LightTheme_color1);
}

.btn-brand:hover {
  color: var(--LightTheme_color3) !important;
  background-color: var(--LightTheme_color2);
  border-color: var(--LightTheme_color2);
}

.page-item.active .page-link {
  color: var(--LightTheme_color1);
  background-color: var(--LightTheme_color2);
  border-color: var(--LightTheme_color2);
}

.page-link:hover {
  color: var(--LightTheme_color2);
}

.page-link {
  color: var(--LightTheme_color1);
}

.btn.btn-label-brand {
  background-color: var(--LightTheme_color1);
  color: var(--LightTheme_color3);
  cursor: pointer !important;
}

a.btn.btn-label-brand:focus,
a.btn.btn-label-brand:hover,
a.btn.btn-label-brand.active,
button.btn.btn-label-brand:focus,
button.btn.btn-label-brand:hover,
button.btn.btn-label-brand.active,
input.btn.btn-label-brand:focus,
input.btn.btn-label-brand:hover,
input.btn.btn-label-brand.active {
  background-color: var(--LightTheme_color2);
  color: var(--LightTheme_color1) !important;
  border-color: var(--LightTheme_color2);
}

.btn-success {
  color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color1) !important;
  border-color: var(--LightTheme_color1);
}

.btn-success:hover {
  color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color2) !important;
  border-color: var(--LightTheme_color2);
}

.min-h-screen button {
  color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color1);
  border-color: var(--LightTheme_color1);
}

.min-h-screen button:hover {
  color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color2);
  border-color: var(--LightTheme_color2);
}

.min-h-screen {
  background-color: var(--LightTheme_color1);
}

.kt-header-mobile {
  background-color: var(--LightTheme_color1) !important;
}

.btn-primary:hover {
  background-color: var(--LightTheme_color2);
  color: var(--LightTheme_color1) !important;
}

.kt-scrolltop {
  background: var(--LightTheme_color2);
}

.kt-content button {
  background-color: var(--LightTheme_color1);
  /* border-color: var(--LightTheme_color1); */
  box-shadow: none !important;
  outline: none !important;
  border: none;
}

.kt-content button:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none;
}

a:hover {
  color: var(--LightTheme_color2) !important;
}

.kt-notification .kt-notification__item .kt-notification__item-details .kt-notification__item-title:hover {
  color: var(--LightTheme_color2) !important;
}

.kt-notification .kt-notification__item .kt-notification__item-details .kt-notification__item-title:active {
  color: var(--LightTheme_color2) !important;
}

.kt-header .kt-header-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-text {
  color: var(--LightTheme_color2) !important;
}

.kt-aside-close i {
  color: var(--LightTheme_color2) !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon {
  color: var(--LightTheme_color3);
}

.kt-aside--minimize .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link>.kt-menu__link-icon {
  color: var(--LightTheme_color3);
}

.kt-aside-menu .kt-menu__nav>.kt-menu__section .kt-menu__section-icon {
  color: var(--LightTheme_color3);
}

.kt-font-success {
  color: var(--LightTheme_color2) !important;
}

.page-item button {
  color: var(--LightTheme_color3);
  background-color: var(--LightTheme_color3);
  border-color: #eee;
}

.page-item button:hover {
  color: var(--LightTheme_color3) !important;
  background-color: var(--LightTheme_color2);
  border-color: #eee;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--LightTheme_color3);
  text-decoration: none;
  background-color: var(--LightTheme_color2);
}

.dropdown-menu>li>a>i,
.dropdown-menu>.dropdown-item:hover>i {
  color: var(--LightTheme_color3);
}

.dropdown .dropdown-menu .dropdown-item {
  background-color: transparent;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--LightTheme_color3) !important;
  text-decoration: none;
  background-color: var(--LightTheme_color2) !important;
}

.kt-aside {
  background-color: var(--LightTheme_color1);
}

.table-responsive thead tr th .row {
  flex-wrap: unset !important;
}

.kt-aside__brand-aside-toggler .kt-svg-icon {
  filter: invert(1);
}

.sm\:w-full {
  margin-top: 250px;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-text,
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-text {
  color: var(--LightTheme_color3);
}

/* update start RN 25-08-2023 Add more button  */
.add-remove-btn {
  display: flex;
  align-items: center;
  padding-left: 0;

  list-style: none;
}

.checkbox-add-remove-btn {
  display: flex;
  align-items: center;
  margin-bottom: -24px;
  padding-left: 0;
  list-style: none;
}

.add-remove-warper {
  display: flex;
  align-items: flex-end;
}

.add-remove-btn li {
  margin-right: 10px;
}

.checkbox-add-remove-btn li {
  margin-right: 10px;
}

.checkbox-add-remove-btn li:last-child {
  margin-right: 0;
}

.add-remove-btn li:last-child {
  margin-right: 0;
}

.checkbox-add-remove-btn .btn i {
  padding-right: 0;
}

.add-remove-btn li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.add-remove-btn li a i {
  line-height: 1.3;
  padding: 0;
}

.validated .form-group:last-child {
  margin-bottom: 0;
}

.kt-portlet .kt-portlet__foot {
  padding: 25px 12px;
}

.create-edit-inp-wrapper {
  display: flex;
  align-items: center;
}

.add-remove-warper-validation {
  align-items: center;
}

.add-remove-warper-validation input {
  margin-bottom: 0.5rem;
}

.add-remove-warper-validation p {
  margin-bottom: 0;
}

.kt-aside {
  background-size: cover;
}

.kt-aside-menu,
.kt-aside__brand {
  background-color: transparent;
}

/* update end RN 25-08-2023 Add more button  */

/* start media query */
@media (max-width: 991px) {

  /* update start RN 25-08-2023 add more button */
  .add-remove-btn {
    padding: 0 12px;
    margin-top: 10px;
  }

  /* update end RN 25-08-2023 add more button */
}

@media (max-width: 767px) {
  .kt-header-menu-wrapper-close>i {
    color: var(--LightTheme_color2);
  }

  .kt-header-menu-wrapper {
    background: var(--LightTheme_color1);
  }

  .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__topbar-toggler.kt-header-mobile__topbar-toggler--active i,
  .kt-header-mobile .kt-header-mobile__toolbar .kt-header-mobile__topbar-toggler:hover i {
    color: var(--LightTheme_color2);
  }

  .kt-header-menu-mobile {
    background-color: var(--LightTheme_color1);
  }

  .kt-aside-menu .kt-menu__nav {
    padding: 40px 0;
  }

  .kt-header-menu-mobile .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__heading,
  .kt-header-menu-mobile .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link {
    background-color: var(--LightTheme_color2);
  }

  .kt-header .kt-header-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-text {
    color: var(--LightTheme_color3) !important;
  }

  .kt-header-menu-mobile .kt-menu__nav {
    padding: 40px 0 40px 0;
  }

  .kt-header-menu-wrapper--on .kt-header-menu-wrapper-close {
    background: var(--LightTheme_color3)38;
  }

  /* update start RN 25-08-2023 add more button */
  .add-remove-btn li a {
    padding: 5px 9px;
    font-size: 14px;
  }

  .add-remove-btn li a i {
    font-size: 12px !important;
  }

  /* update end RN 25-08-2023 add more button */
}

@media (min-width: 1025px) {
  .kt-aside--minimize .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link>.kt-menu__link-icon {
    color: var(--LightTheme_color3);
  }
}

@media (min-width: 320px) {
  .kt-input {
    width: 120px;
  }
}

.form-control.is-invalid {
  background-image: none !important;
}

.is-invalid {
  border-color: #fd397a !important;
}

.logo_text_custom {
  text-decoration: none;
  color: var(--LightTheme_color3);
  font-size: 20px;
}

.label-required:after {
  content: "*";
  color: red;
}

.align-center {
  text-align: center;
}

.wizard__box {
  margin: 10px;
}

/* 20.04.23 start  */

.kt-menu__item .kt-menu__link:hover .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active .kt-menu__link .kt-menu__link-icon {
  color: var(--LightTheme_color1) !important;
}

.kt-content button:hover {
  background: var(--LightTheme_color2) !important;
  color: var(--LightTheme_color1) !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link {
  transition: 0.5s all;
}

.kt-menu__toggle {
  background-color: var(--LightTheme_color2) !important;
}

.kt-header .kt-header-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-text {
  color: var(--LightTheme_color3) !important;
}

.kt-subheader .kt-subheader__main .kt-subheader__breadcrumbs .kt-subheader__breadcrumbs-link:hover {
  color: var(--LightTheme_color1) !important;
}

.kt-wrapper {
  min-height: 100vh !important;
}

.kt-footer {
  margin-top: auto !important;
}

.page-link {
  color: var(--LightTheme_color1);
  transition: 0.5s all;
}

.btn.btn-label-brand {
  color: var(--LightTheme_color3);
}

.form-filter {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-filter:focus,
.form-filter:focus-visible {
  border-color: var(--LightTheme_color2);
  box-shadow: none;
  outline: none;
}

.kt-content .table-checkable .button-fx:hover {
  color: var(--LightTheme_color1) !important;
}

/* update start RN 21-04-2023 */
.password_box {
  position: relative;
}

.password_box .control {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 15px;
}

.password_box input[type="password"],
.password_box input[type="text"] {
  padding-right: 30px;
}

.table_fixed_width {
  min-height: 400px;
}

.no_data {
  margin: 50px 0 20px;
}

.kt-aside--fixed .kt-aside {
  height: 100vh;
  overflow: auto;
}

.kt-aside--fixed .kt-aside::-webkit-scrollbar {
  width: 5px;
}

.kt-aside--fixed .kt-aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
.kt-aside--fixed .kt-aside::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 4px;
}

/* Handle on hover */
.kt-aside--fixed .kt-aside::-webkit-scrollbar-thumb:hover {
  background: #808080;
}


.welcome_scr {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  padding: 20px 0px;
  background: var(--LightTheme_color1);
}

.scr_body {
  background: #ccc;
}

.scr_body {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 50px;
  text-align: center;
  background: #160676;
  color: var(--LightTheme_color3);
}

.scr_body .form-control {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid var(--LightTheme_color3);
  border-radius: 0px;
  color: var(--LightTheme_color3);
  padding: 0px;
}

.scr_body .form-control:focus {
  outline: none;
  box-shadow: none;
}

.scr_body .form-control::placeholder {
  color: var(--LightTheme_color3);
  opacity: 0;
}


.scr_body .form-group .control i {
  color: var(--LightTheme_color3);
}

.src_logo_area {
  margin-bottom: 20px;
}

.scr_body .form-group {
  text-align: left;
  margin-bottom: 50px;
}

.scr_body label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}

.welcome_scr h1 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.scr_body form {
  margin-top: 30px;
}

.scr_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scr_footer a {
  color: var(--LightTheme_color3);
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #160676 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: var(--LightTheme_color3) !important;
}


@media(max-width:479px) {
  .scr_body {
    padding: 25px 15px;
  }
}